body {
   margin:0;
   padding:0;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 40px;
}

.left-links {
    display: flex;
    flex-direction: column;
    flex:1;
}

.up {
    display: flex;
    flex-direction: column;
    flex:1
}

.down {
    display: flex;
    flex-direction: column;
    flex:2;
    justify-content: start;
    gap: 5px;
    align-items: space-between;
}

.center-top {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
}

.right-links {
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: start;
    justify-content: space-between;
}

.h-links {
    font-size: 18px;
    display: flex;
    gap: 40px;
    margin-left: auto;
    padding-right: 40px;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

.logo1 {
    width: 90%;
    height: auto;
    margin: 40px;
}

ul{
    list-style-type: none;
}

.content {
    text-align: center;
    padding: 40px;
    padding-bottom: 80px;
}

.title {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 800;
}

.quote {
    background-color: #e5e7eb;
}

.plants {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 8px;
}

.berry {
    max-width: 200px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    padding: 80px;
    padding-left: 225px;
    padding-right: 225px;
    font-style: italic;
    font-weight: 100;
}

.credit {
    margin-top: 30px;
    margin-left: 600px;
    color: #1f2937;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;

}